.search-bar{
    position: relative;
    width:94%;
    height: 40px;
    background-color: #172242;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 3.5%;
}

.search-icon{
    width: 24px;
    height: 24px;
    width: 2.6%;
    margin-left: 1%;
    margin-top: 0.4%;
}

.search-input-container{
    text-align: left;
    width: 60%;
    height: 68%;
    margin-top: 0.3%;
    
}
.input {
    background: #445A9A;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: 96%;
    color: white;
    outline: none;
    overflow: hidden;
    padding-left: 10px;
    border-color: transparent;
}

.filter-icon{
    width: 24px;
    height: 24px;
    margin-left: 2%;
    margin-top: 0.5%;
}

.like-icon{
    margin-left: 30%;
    margin-top: 0.5%;
}

.dropdown-menu-filter{
    position: absolute;
    background-color: 172242;
    border-radius: 8px;
    justify-content: space-between;
    gap: 8px;
    width: 200px;
    height: Fixed (267px);
    margin-top:1% ;
    z-index: 1;
    background: #172242;
    font-size: 80%;
}
.dropdown-most-trending{
    padding:  6% 7%;
}
.dropdown-most-recently-added,
.dropdown-recommended,
.dropdown-most-recent-published-year,
.dropdown-earliest-published-year,
.dropdown-top-rated{
   padding: 6% 7%;
}

.dropdown-least-rated{
    padding:  6% 7%;
}

.dropdown-menu-filter div:hover {
    width: 86%;
    background-color: #445A9A;
    border-radius: 8px;
    font-weight: bold;
  }