.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-icon {
  cursor: pointer;
}

.dropdown-menu-user {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #172242;
  border-radius: 8px;
  width: 99px;
  z-index: 1;
  font-size: 80%;
  text-align: center;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-menu-user div:hover {
  background-color: #445a9a;
  border-radius: 8px;
  font-weight: bold;
}